---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Portfolio">
	<section id="home" class=" pt-32 h-[100vh] bg-gradient-to-b from-indigo-300 to-slate-300">
		<h1 class=" dark:text-white">My astro page</h1>
	</section>
	<section id="about" class="h-[50vh] bg-gradient-to-b from-slate-300 to-gray-300">
		<h1 class=" dark:text-white">About</h1>
	</section>
</MainLayout>